@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: rgba(240, 248, 255, 0.74);
}

body{
    background-color: rgb(39, 36, 36);
}

header{
    background-color: #322113;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.267);
}

header h1{
    text-align: center;
    color: aliceblue;
    padding-top: 30px;
    padding-bottom: 30px;
}

header #menu ul{
    list-style: none;
    padding-left: 32%;
    background-color: #1f150c;
}

header #menu ul li{
    display: inline;
}

header #menu ul li a{
    color: rgb(240, 248, 255);
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    transition: background .4s;
}

header #menu ul li a:hover{
    background-color: #4d3420;
}

.container {
    padding: 2em;
}

.imagem{
    display: flex;
    float: left;
    height: 500px;
}

.desc-cantor{
    display: flex;
    padding: 30px;
    justify-content: left;
    font-weight: 500;
}

.link-video {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.link-video img {
    height: 10px;
    width: auto;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.537);
}


.destaque {
    background-color: #f4f4f4;
    padding: 2em;
    margin-bottom: 2em;
}

.agenda{
    background-color: #f4f4f4;
    padding: 2em;
    margin-bottom: 2em;
}

.formulario label {
    display: block;
    margin: 1em 0 0.5em;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}



