@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color:  #F8F4E1;;
}

body{
    background-color: rgb(39, 36, 36);
    overflow-x: hidden;
}

header{
    background-color: #1f150c;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.267);
    align-items: center;
}

header h1{
    text-align: center;
    color: #F8F4E1;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 70px;
    font-style: normal;
}

header #menu ul{
    list-style: none;
    padding-left: 30%;
    background-color: #1f150c;
}

header #menu ul li{
    display: inline;
}

header #menu ul li a{
    color: #F8F4E1;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    transition: background .4s;
}

header #menu ul li a:hover{
    background-color: #4d3420;
}

.container {
    padding: 2em;
}

.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; 
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}

.desc-cantor{
    display: flex;
    padding: 30px;
    justify-content: left;
    font-weight: 500;
}

.historia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 40px auto 0 auto;
    max-width: 1200px;
    background-color: #352b22;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.imagem-container img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.texto-container {
    text-align: left;
    max-width: 800px;
}

.texto-container h2 {
    color: #F8F4E1;
    margin-top: 20px;
}

.texto-container p {
    line-height: 1.6;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .historia-container {
        flex-direction: row;
        padding: 40px;
    }

    .imagem-container {
        margin-right: 40px;
    }

    .texto-container {
        text-align: justify;
    }
}

.discografia-container {
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
}

.album {
    background-color: #352b22;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center; 
}

.album img {
    padding-top: 20px;
    width: 100%;
    max-width: 300px; 
    border-radius: 20px;
    margin: 0 auto; 
}

.album-info {
    padding: 20px;
}

.album-info h2 {
    color: #F8F4E1;
    margin: 0 0 10px 0;
}

.album-info p {
    margin: 5px 0;
}

.album-info p strong {
    font-weight: bold;
}

.galeria-fotos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; 
    margin: 20px;
}

.fotos {
    position: relative; 
    flex-basis: calc(33.333% - 20px);
    border: 5px solid #352b22;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.descricao-sobreposto {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7); 
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.fotos:hover .descricao-sobreposto {
    opacity: 1;
}

.fotos img {
    width: 100%;
    height: auto;
    display: block;
}

.fotos:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.link-video {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-youtube{
    width: 99.6vw;
    height: 800px;
    overflow: hidden;
}

.video-youtube .video-sergio{
    display: flex-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
    margin-top: 25px;
    margin-right: 300px;
    height: 650px;
    width: 1100px;
    border-radius: 10px;
}

.video-youtube h2{
    margin-top: 25px;
    width: 100%;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: #F8F4E1;
}

.redes-sociais{
    height: 100px;
    background-color: #1a1109;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
    
.redes-sociais button{
    width: 100px;
    height: 100px;
    font-size: 35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #F8F4E1;
    padding: 30px;
}

.sucesso-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #352b22;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.album-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.album-info img {
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.info {
    max-width: 600px;
}

.info h2 {
    color: #F8F4E1;
    margin: 0 0 10px 0;
    text-align: center;
}

.info p {
    margin: 5px 0;
}

.historia {
    max-width: 100%;
    text-align: left;
}

.historia h2 {
    color: #F8F4E1;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.historia p {
    line-height: 1.6;
    margin-top: 10px;
    text-align: center;
}

.agenda-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.evento {
    background-color: #352b22;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.evento-data {
    background-color: #322113;
    color: #3f2f27;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data-dia {
    font-size: 24px;
    font-weight: bold;
}

.data-mes {
    font-size: 14px;
}

.evento-info {
    padding: 20px;
    margin-left: 80px; 
}

.btn-detalhes {
    background-color: #322113;
    color: #F8F4E1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-detalhes:hover {
    background-color: #322113;
}

.detalhes {
    display: none;
    padding: 20px;
    background-color: #272424;
    border-top: 1px solid #2c2828;
}

.evento.active .detalhes {
    display: block;
}

.contato-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #241910;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contato-container h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    padding: 10px 10px 10px 0px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #F8F4E1;
    border-radius: 5px;
    color: #1f150c;
    background-color: #F8F4E1;
}

.form-group textarea {
    resize: vertical; 
    color: #1f150c;
    background-color: #F8F4E1;
}

button {
    background-color: rgb(73, 55, 35);
    color: #F8F4E1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #352b22;
}

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #F8F4E1; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: #352b22; 
    border-radius: 10px; 
    border: 3px solid #322113;
}

.botao-pagina
{
    background-color: #4d3420;
}